/* 
 Theme Name:   NEWARI
 Theme URI:    
 Description:  
 Author:       washrights
 Author URI:   https://washrightsnetwork.org
 Template:     astra
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 /* == Add your own styles below this line ==
--------------------------------------------*/


/*
     FILE ARCHIVED ON 17:04:28 Jul 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:51:11 Dec 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.488
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 8.415
  LoadShardBlock: 190.992 (3)
  PetaboxLoader3.resolve: 117.921 (4)
  PetaboxLoader3.datanode: 171.222 (5)
  load_resource: 159.408
  loaddict: 90.04
*/